---
Checks: >
    -*,
    bugprone-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -bugprone-easily-swappable-parameters,
    -misc-include-cleaner,
    -readability-identifier-length,
    -readability-function-cognitive-complexity,
    -readability-magic-numbers,
