---
Checks: >
    -*,
    bugprone-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -readability-function-cognitive-complexity,
    -bugprone-easily-swappable-parameters
